body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #315f00;
}

header {
    background-color: green;
    color: white;
    padding: 1em 0;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e7e7e7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #00425f;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: black;
    font: bold;
}

input[type="text"]{
    padding: 10px;
    margin-bottom: 15px; /* Aumentar espacio entre campos */
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 97%; /* Asegurar que los campos llenen el contenedor */
}

input[type="checkbox"] {
     margin: -20px 550px 17px 0; /* Ajustar margen: arriba 10px, abajo 10px */
}

button {
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    text-align: left;
}

th {
    background-color: #f8f8f8;
}
